body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(/assets/back.jpg) no-repeat top center;
  @media screen and (max-width: 1366px){
    background: url(/assets/back-1366.jpg) no-repeat top center;
  }    

  .App {
    text-align: center;
    margin-top: 35px;

      div.row {
          
        section#logotype {
          cursor: pointer;
          .row {
              
            div.d-inline{
                
              @media screen and (max-width: 771px) {
                  
                img{
                  width: 25px;
                  height: 34px;
                }
              }
            }
          }
        }

        &.cn-nav-block{
          margin-top: 45px;
          height: 66vmin;

          @media screen and (max-width: 771px){
            section#earth{
              display: none
            }
          }

          section#earth{

            img.eye_l{
              position: absolute!important;
              top: 145px;
              left: 185px;
              width: 40px;
              height: 40px;
              z-index: 1;
            }
            img.eye_r{
              position: absolute!important;
              top: 145px;
              left: 245px;
              width: 40px;
              height: 40px;
              z-index: 1;
            }
            img.smile{
              position: absolute!important;
              top: 210px;
              left: 210px;
              width: 55px;
              height: 28px;
              z-index: 1;
            }
            img.earth{
              left: 0;
              top: 0;
              position: absolute!important;
              // animation: earth-spin infinite 30s linear;
              height: 66vmin;
              z-index: 0;
            }
            @keyframes earth-spin {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(-360deg);
              }
            }
          }

          section#navigation{
            ul{
              list-style-type: none;
              padding-left: 0px;
              li{
                transition: all .2s ease-in-out;
                border-radius: 20px;
                margin-top: 20px;
                cursor: pointer;

                &:hover{
                  transform: scale(1.1);
                }
                &:nth-child(1){
                  background: linear-gradient(35deg, #ffee8e, #ffbf00);
                  color: #fff;
                }
                &:nth-child(2){
                  background: linear-gradient(35deg, #23ddff, #00a8c6);
                  color: #fff;
                }
                &:nth-child(3){
                  background: linear-gradient(35deg, #9bff7c, #5ed13a);
                  color: #fff;
                }
                a{
                    color: #fff;
                    &:hover{
                      text-decoration: none;
                    }
                  }
                p{
                  padding: 1rem;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
        &.video{
          margin-top: 50px;
        }
      }
    }
  }